/*** 결합자 ***/

/** 자손 결합자 : 첫번째로 지정한 태그의 하위 자손 태그 모두를 선택한다. **/
section li { 
  color: slategray;
}
section div { 
  color: red;
}

/** 자식 결합자 : 첫 번째 요소의 바로 아래 자식인 태그를 선택한다. **/
p > span  { 
  color: blue;
}
/* section 바로 하위 자식태그가 아니기에 span 태그에 스타일 적용되지 않았다. */
section >  div { 
  border: 2px solid black;
} 

/** 형제 결합자  **/
/* 일반 형제 결합자 : 첫 번째 요소를 뒤따르면서 같은 부모를 공유하는 두 번째 요소를 선택 */
p ~ span {    /* <p>태그의 뒤에(아래) 나오는 모든 <span>요소 */
	color: purple;
}

/* 인접 형제 결합자 : 첫 번째 요소의 바로 뒤에 위치하면서 같은 부모를 공유하는 두 번째 요소만 선택 */
p + code {
	font-size: 40px;
}
