/***  폰트 속성  ***/ 
/* 모든 요소 서체를 serif로 설정, serif 적용 불가 시 다음 서체인 monospace로 글꼴 적용*/ 
*  {
  font-family : serif, monospace;    /* 글자 종류를 지정. */ 
  font-size: 16px;
}

.title { 
  font-size: 50px;   /* 글자 크기를 지정. */ 
}

.italic {
  font-style: italic;  /* 글자를 이탤릭체로 표현할지 지정. */ 
}

.weight-bold {
  font-weight: bold;  /* 굵기를 명령어를 통해 조정 */
}

.weight-100 {
  font-weight: 100;  /* 굵기를 숫자를 통해 조정 */
}

.variant {
  font-variant: small-caps;   /* 소문자 요소를 크기가 작은 대문자로 표현 */
}

/***  폰트 크기 단위  ***/ 
.size-px {
  font-size: 20px;  /* 글꼴 크기를 픽셀 단위로 지정 */
}

.size-rem { 
  font-size: 2rem; /* 루트=최상위 요소에 상응하는 크기, 16px의 2배인 32px 적용 */
}

.article {
  font-size: 10px;
}

.size-em {
  font-size: 2em;  /* 현재 자기 자신, 부모에게 상속받은 크기에 상응하는 크
  기, 10px의 2배인 20px 적용 */
}

/***  폰트 크기 viewport  ***/ 
.rectangle-width {
  width: 50vw;  /* 전체 화면 너비의 50%만 채운다.*/
  height: 100px;
  background-color: green;
}

.rectangle-height {
  width: 30vw;  /* 전체 화면 너비의 30%만 채운다.*/
  height: 20vh;  /* 전체 화면 높이의 20%만 채운다.*/
  background-color: green;
}